<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Toddler</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="wrapper">
      <h2>Toddler</h2>
      <h3>Thanks for signing up, click</h3>
      <a style="text-decoration: wavy underline;" href="<%= link %>" >here</a>
      <h3>to add to your Google Calendar.</h3>
      <br></br>
      <h4>Tip: Your events should automatically start to appear within ~15 minutes!</h4>
    </form>
  </div>
</body>

</html>